span a {
  text-decoration: none;
}

ion-title small {
  color: gray;
}

.e-learning-tag {
  margin: 0 1rem;
}

.align-center {
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  ion-content {
    .scroll-area {
      height: calc(100vh - 70px);
      overflow: auto;
    }
  }
}