<link rel="stylesheet" href="course.page.scss">
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" routerLink="..">
            <ion-back-button defaultHref=".."></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ course || 'Course'}}
            <small *ngIf="courseProgress.duration > 0">{{ (courseProgress.duration-courseProgress.viewed)/ 60 | number:'1.0-0' }} min left</small>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-lg [hidden]="!currentVideo">
                <video #videoPlayer class="video-js vjs-default-skin fullwidth" controls preload="metadata"
                       data-setup='{"aspectRatio":"1280:640", "playbackRates": [0.75, 1, 1.25, 1.5, 1.75, 2, 2.25, 2.5, 3], "plugins": {"seekButtons": {"forward": 10, "back": 10}}}'
                       (contextmenu)="preventMouseEvent($event)" tabindex="1">
                    Your browser does not support the video tag.
                </video>
                <ng-container *ngIf="currentVideo">
                    <ion-text color="medium">
                        <p>
                            {{ currentVideo.title }} - {{ currentVideo.lecturer }}<br/>
                            <span class="ion-hide-md-down">
                        <strong>Hotkeys</strong>&emsp; Space: Pause, ▲/▼: Volume, ◄/►: Seek, F: Fullscreen |
                    </span>
                            <a (click)="setPlaybackSpeed()">Set playback speed</a>
                            <span *ngIf="currentVideo.sourceExternal">
                        | <a [href]="sanitize('intent:'+currentVideo.sourceExternal+'#Intent;S.title='+encodeURIComponent(currentVideo.title)+';package=com.mxtech.videoplayer.ad;end')"
                             rel="noreferrer">View with MX Player</a>
                    </span>
                        </p></ion-text>
                    <ion-card *ngIf="currentVideo.sources.length === 0" color="warning">
                        <ion-card-header>
                            <ion-card-title>Format not supported</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            Your browser can't play this video. Please try again using Google Chrome or Mozilla Firefox on Windows/Linux/macOS/Android.
                        </ion-card-content>
                    </ion-card>
                    <ion-list *ngIf="currentVideo.attachments.length != 0">
                        <ion-list-header lines="inset">
                            <ion-label>Attachments</ion-label>
                        </ion-list-header>
                        <ion-item *ngFor="let attachment of currentVideo.attachments">
                            <ion-label>{{ attachment.name }}</ion-label>
                            <a [href]="attachment.src" download target="_blank"><ion-icon name="download" size="small" slot="end"></ion-icon></a>
                        </ion-item>
                    </ion-list>
                </ng-container>
            </ion-col>
            <ion-col size="12" size-lg>
                <ion-list *ngIf="list$ | async as list">
                    <ion-item button *ngFor="let lecture of list | keyvalue trackBy: lectureById" (click)="viewVideo(lecture.value)">
                        <ion-label class="ion-text-wrap">
                            <span *ngIf="lecture.value.date">{{ lecture.value.date | date:"d MMM y" }} - </span>
                            {{ lecture.value.title }}
                            <small>
                                {{ lecture.value.lecturer}}
                                <span *ngIf="lecture.value.durationInMin">- {{ lecture.value.durationInMin}} min </span>
                                <span *ngIf="lecture.value.history.currentTime && lecture.value.duration && lecture.value.history.currentTime > 3 && (lecture.value.history.currentTime/lecture.value.duration < 0.995)">
                                    - {{ (lecture.value.duration - lecture.value.history.currentTime) / 60 | number:'1.0-0'}} min left </span>
                                <ion-icon *ngIf="lecture.value.attachments.length != 0" name="download" size="small" color="medium"></ion-icon>
                            </small>
                            <ion-progress-bar
                                    *ngIf="lecture.value.history.currentTime && lecture.value.duration && lecture.value.history.currentTime > 3 && (lecture.value.history.currentTime/lecture.value.duration < 0.995)"
                                    [value]="lecture.value.history.currentTime/lecture.value.duration"></ion-progress-bar>
                        </ion-label>
                        <ion-icon
                                *ngIf="lecture.value.history.currentTime && lecture.value.duration && (lecture.value.history.currentTime/lecture.value.duration >= 0.995)"
                                name="checkmark-outline"
                                slot="end"
                                color="success"></ion-icon>
                        <ion-icon
                                *ngIf="lecture.value.sources.length === 0"
                                name="close-outline"
                                slot="end"
                                color="danger"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
