span a {
  text-decoration: none;
}

ion-title small {
  color: gray;
}

.e-learning-tag {
  margin: 0 1rem;
}

span.date {
  font-family: monospace, monospace;
  color: darkblue;
  @media (prefers-color-scheme: dark) {
    color: lightblue;
  }
}

span.date-divider {
  margin: 0 0.2rem 0 0.2rem;
  opacity: 0.5;
  color: darkblue;
  @media (prefers-color-scheme: dark) {
    color: lightblue;
  }
}

.time-info {
  color: darkgoldenrod;
  @media (prefers-color-scheme: dark) {
    color: yellow;
  }
}

.ion-color .check-icon {
  background-color: white;
}

.set-playback-speed-button {
  vertical-align: middle;
}

.play-with-docchula-a-tag {
  margin-left: 0.5rem;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  ion-content {
    .scroll-area {
      height: calc(100vh - 70px);
      overflow: auto;
    }
  }
}
