span a {
  text-decoration: none;
}

ion-title small {
  color: gray;
}

.e-learning-tag {
  margin: 0 1rem;
}

ion-content {
  .scroll-area {
    height: calc(100vh - 70px);
    overflow: auto;
  }
}