<link rel="stylesheet" href="course.page.scss">
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" [routerLink]="'/home/'+year">
            <ion-back-button [defaultHref]="'/home/'+year"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ course ? course.replace(' [E-Learning]', '') : 'Course' }}
            <span class="e-learning-tag" *ngIf="course && course.endsWith(' [E-Learning]')">
                MDCU <small>E-Learning</small>
            </span>
            <small *ngIf="courseProgress.duration > 0">{{ (courseProgress.duration - courseProgress.viewed) / 3600 | number:'1.0-1' }} hours left</small>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-lg [hidden]="!currentVideo">
                <video #videoPlayer class="video-js vjs-default-skin fullwidth" controls preload="metadata"
                       data-setup='{"aspectRatio":"1280:640", "playbackRates": [0.75, 1, 1.25, 1.5, 1.75, 2, 2.25, 2.5, 3]}'
                       [hidden]="currentVideo && currentVideo.sources.length === 0"
                       (contextmenu)="preventMouseEvent($event)" tabindex="1">
                    Your browser does not support the video tag.
                </video>
                <ng-container *ngIf="currentVideo">
                    <ion-text color="medium">
                        <p>
                            {{ currentVideo.title }} - {{ currentVideo.lecturer }}<br/>
                            <span class="ion-hide-md-down">
                                <strong>Hotkeys</strong>&emsp; Space: Pause, ▲/▼: Volume, ◄/►: Seek, F: Fullscreen |
                            </span>
                            <ion-button (click)="setPlaybackSpeed()" (keyup)="setPlaybackSpeed()" fill="outline" size="small" tabindex="0" class="set-playback-speed-button">Set playback speed</ion-button>
                            <span *ngIf="isAndroid && currentVideo.sourceExternal">
                                | <a [href]="sanitize('intent:'+currentVideo.sourceExternal+'#Intent;S.title='+encodeURIComponent(currentVideo.title)+';package=com.mxtech.videoplayer.ad;end')" rel="noreferrer">Play with MX Player</a>
                            </span>
                            <span *ngIf="(isIos || isAndroid) && currentVideo.sourceExternal">
                                | <a [href]="sanitize('vlc://'+currentVideo.sourceExternal)" rel="noreferrer">Play with VLC</a>
                            </span>
                        </p>
                    </ion-text>
                    <ion-card *ngIf="currentVideo.sources.length === 0" color="warning">
                        <ion-card-header>
                            <ion-card-title>Format not supported</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            Your browser can't play this video. Please try again using Google Chrome or Mozilla Firefox on Windows/Linux/macOS/Android.
                        </ion-card-content>
                    </ion-card>
                    <ion-list *ngIf="currentVideo.attachments.length !== 0">
                        <ion-list-header lines="inset">
                            <ion-label>Attachments</ion-label>
                        </ion-list-header>
                        <ion-item *ngFor="let attachment of currentVideo.attachments">
                            <ion-label>{{ attachment.name }}</ion-label>
                            <a [href]="attachment.src" download target="_blank">
                                <ion-icon name="download" size="small" slot="end"></ion-icon>
                            </a>
                        </ion-item>
                    </ion-list>
                </ng-container>
            </ion-col>
            <ion-col size="12" size-lg [ngClass]="currentVideo ? 'scroll-area' : ''">
                <ion-list *ngIf="list$ | async as list">
                    <ion-item button *ngFor="let lecture of list trackBy: lectureById" (click)="viewVideo(lecture)"
                              [color]="(currentVideo && currentVideo.id && currentVideo.id === lecture.id) ? 'secondary' : ''">
                        <ion-label class="ion-text-wrap">
                            <span *ngIf="lecture.date" class="date">{{ lecture.date | date:"d MMM y" }} | </span>
                            {{ lecture.title }}
                            <small>
                                {{ lecture.lecturer}}
                                <span class="time-info" *ngIf="lecture.durationInMin">- {{ lecture.durationInMin}} min </span>
                                <span class="time-info" *ngIf="lecture.history.currentTime && lecture.history.currentTime > 3">
                                    <span *ngIf="!lecture.duration">
                                        - {{ (lecture.history.currentTime) / 60 | number:'1.0-0'}} min played
                                    </span>
                                    <span *ngIf="lecture.duration && lecture.history.currentTime/lecture.duration < 0.995">
                                        - {{ (lecture.duration - lecture.history.currentTime) / 60 | number:'1.0-0'}} min left
                                    </span>
                                </span>
                                <ion-icon *ngIf="lecture.attachments.length !== 0" name="document-attach-outline" size="small" color="medium"></ion-icon>
                            </small>
                            <ion-progress-bar
                                    *ngIf="lecture.history.currentTime && lecture.duration && lecture.history.currentTime > 3 && (lecture.history.currentTime/lecture.duration < 0.995)"
                                    [value]="lecture.history.currentTime/lecture.duration"></ion-progress-bar>
                        </ion-label>
                        <ion-icon
                                class="check-icon"
                                *ngIf="lecture.history.currentTime && lecture.duration && (lecture.history.currentTime/lecture.duration >= 0.995)"
                                name="checkmark-outline"
                                slot="end"
                                color="success"></ion-icon>
                        <ion-icon
                                *ngIf="lecture.sources.length === 0"
                                name="close-outline"
                                slot="end"
                                color="danger"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>