<ion-content class="ion-text-center ion-padding" color="light">
    <ion-card id="mainCard">
        <ion-card-header>
            <ion-card-title>MDCU Recorded Lecture</ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <div *ngIf="afAuth.user | async as user; else loginMessage">
                <h2>Hello, {{ user.displayName }}!</h2><br/>
                <ion-button expand="block" color="tertiary" (click)="goToHome()">
                    View Courses
                </ion-button>
                <ion-button expand="block" color="secondary" (click)="logout()">
                    Sign out
                </ion-button>
            </div>

            <ng-template #loginMessage>
                <p>Sign in with your DocChula account</p><br/>
                <ion-button shape="round" slot="start" expand="full" color="tertiary" (click)="login()">
                    Sign in with Docchula
                </ion-button>
            </ng-template>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isSafari" color="warning" id="browserCard">
        <ion-card-content>
            Your browser may not be able to play some video. Please try again using Google Chrome or Mozilla Firefox on Windows/Linux/macOS/Android.
        </ion-card-content>
    </ion-card>
    <ion-text class="small-text" color="medium">The Student Union of the Faculty of Medicine, Chulalongkorn University</ion-text>
</ion-content>
