<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            MDCU Recorded Lecture
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button fill="solid" color="secondary" (click)="logout()">
                Sign out
                <ion-icon slot="end" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid *ngIf="folderList$ | async as folderList">
        <ion-row>
            <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="2" *ngFor="let folder of folderList">
                <ion-card [routerLink]="folder" [ngStyle]="{'background-color': colorByFolderName(folder)}">
                    <ion-card-header>
                        <ion-card-title>{{ folder }}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="lastVideo$ | async as lastVideo">
        <p *ngIf="lastVideo.course">
            Last played:
            <a (click)="goToLastVideo(lastVideo)">
                <span class="course-name">{{ lastVideo.course }}</span>
                <ion-icon name="play"></ion-icon>
            </a>
        </p>
    </div>
    <p class="small-text">
        Your feedback and suggestions are welcome. Please email them to <a href="mailto:siwat.techa@docchula.com" target="_blank" style="color: #bbbbbb">siwat.techa&#64;docchula.com</a>.<br/>
        Contents are provided for MDCU students only. You may not copy, reproduce, distribute, publish, display, create derivative works, transmit, or in any way exploit any such content.
    </p>
</ion-content>
