<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            MDCU Recorded Lecture
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button fill="solid" color="secondary" (click)="logout()">
                Sign out
                <ion-icon slot="end" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid *ngIf="folderList$ | async as folderList">
        <ion-row>
            <ion-col *ngFor="let folder of folderList">
                <ion-card [routerLink]="folder">
                    <ion-card-header>
                        <ion-card-title>{{ folder }}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p>Content are provided for MDCU students only. You may not copy, reproduce, distribute, publish, display, create derivative works, transmit, or in any way exploit any such content.</p>
</ion-content>
